.devise-title{
  border-bottom: 0.2rem solid #000;
  color: #000;
  margin-bottom: 3rem;
  padding: 1rem 0;
}
.devise-label{
  font-size: 1.2rem;
  padding: 2.2rem 2.5rem 2.2rem 0;
}
.devise-text{
  @include input;
}
.remember-check{
  margin-top: 3rem;
}
.sent{
  text-align: center;
  margin: 2rem 0;
  .devise-btn{
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1.1rem 3.5rem;
  }
}
.edit-description{
  font-size: 1rem;
}
.edit-btn{
  background-color: #343A40;
  border-radius: 0.5rem;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin: 25% 0 0 33%;
  padding: 1.6rem 3.5rem;
}
.avatar-150{
  margin-bottom: 3rem;
}
.space{
  margin-left: 1rem;
}