.devise-title{
  border-bottom: 0.2rem solid #000;
  color: #000;
  margin-bottom: 3rem;
  padding: 1rem 0;
}
.devise-label{
  font-size: 1.2rem;
  padding: 2.2rem 2.5rem 2.2rem 0;
}
@media screen and(max-width:767px){
    table {
    width: 100%;
    }
    th,td {
    display: block;
    text-align: left;
    width: 100%;
    }
   }

.devise-text{
  @include input;
}
.remember-check{
  margin-top: 3rem;
}
.sent{
  text-align: center;
  margin: 2rem 0;
  .devise-btn{
    border: 1px solid #000; 
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1.1rem 3.5rem;
  }
}
.edit-description{
  font-size: 1rem;
}
.page-btn{
  background-color: #343A40;
  border-radius: 0.5rem;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin: 5rem 0 0 5rem;
  padding: 1.6rem 3.5rem;
}
.details{
  margin-top: 1.5rem;
  &__btn{
    @include a_none;
    display: block;
    font-size: 2rem;
    margin: 0 9rem 0 4rem;
    padding: 0 3rem;
  }
}

.avatar-150{
  margin-bottom: 3rem;
}
.space{
  margin-left: 1rem;
}
//コメントフォーム
  .comment-label{
    font-weight: bold;
    margin-left: 5rem;
  }
  .comment-body{
    border-radius: 0.5rem;
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
  }
// フォロー関連
.follow{
  margin-bottom: 1rem;
  .follow-user{
    padding: 0 3rem;
    &__name{
      @include a_none;
      font-size: 2rem;
      font-weight: bold;
    }
    &__profile{
      font-size: 1.6rem;
    }
  }
}
  .follow-num{
    @include a_none;
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
    line-height: 180px;
    margin-left: 5rem;
  }
  @media screen and(max-width:767px){
    .follow-num{
      height: 10rem;
      line-height: 10rem;
      margin-left: 5rem;
    }
  }
  .follow-num:hover{
    @include a_none;
    color:rgba(0, 0, 0, 0.6);
  }