.tweet{
  @include post_box;
}
.avatar{
  height: 100px;
  &__img{
    border-radius: 1rem;
  }
}
.main-content{
  margin-left: 1rem;
  width: 100%; 
  .upper-tweet{
    &__name{
      color: #000;
      font-size: 1.7rem;
      font-weight: bold;
      text-decoration: none;
    }
    &__name:hover{
      @include link;
    }
    &__body{
      color: #000;
      display: block;
      font-size: 1.3rem;
      min-height: 10rem;
      padding-top: 1rem;
      text-decoration: none;
    }
    &__body:hover{
      @include link;
    }
  }
  .lower-tweet{
    font-size: 1rem;
    margin: 1rem 0;
    position: relative;
    &__comments{
      color: #000;
      margin-left: 1.5rem;
      text-decoration: none;
    }
    &__comments:hover{
      @include link;
    }
    &__date{
      position: absolute;
      right: 1rem;
    }
    &__likes{
      .fa-heart{
        color: $heart;
        margin-right: 1rem;
      }
      span{
        color: $heart;
      }
    }
  }
}
//投稿ページ
.tweet-image{
  margin: 1rem 25rem 1rem 12rem;
  &__label{
    cursor: pointer;
  }
  &__icon{
    font-size: 20rem;
  }
}












