@import 'variables';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'reset';
@import 'tops';


html {
  font-size: 62.5%;
  background-color: $base;
  }
body {
  font-size: 1.6em;
  background-color: $base;
  }

